$color-primary: #c86dd7;
$color-primary-very-light: #fdf2ff;
$color-primary-dark: #3023ae;
$primary-gradient: linear-gradient(
  224.72deg,
  $color-primary-dark -1%,
  $color-primary 100.5%
);

$color-white: #fff;
$color-secondary: #ffc300;

$color-text: #333333;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $color-text;
  line-height: 1.6;
}
h1 {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

h2 {
  margin-bottom: 3rem;
  font-size: 4.5rem;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 1.6rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
}
