.hero {
  height: 95vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: $color-white;
  background-image: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);

  &__image img {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__title {
    line-height: 1;
    margin-bottom: 3rem;
  }
  &__description {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 2.5rem;
  }
}

.grid {
  display: grid;
  gap: 3rem;

  &-col-2 {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.promo {
  padding: 10rem 0;
  &__content {
    padding: 3rem;
  }
  .disc {
    margin-bottom: 2rem;
    &__heading {
      margin-bottom: 2rem;
    }
    &__description {
      font-size: 1.6rem;
      color: #a4a4a4;
    }
  }

  &__image img {
    width: 100%;
    box-shadow: -30px 30px $color-primary;
  }
  &--color {
    background-color: $color-primary-very-light;
  }
}

.features {
  margin-bottom: 3rem;
  text-align: center;
  background-color: $color-primary-very-light;
  padding: 6rem 0;

  &__heading {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
  }
  &__main {
    flex-grow: 2;
  }
  &__description {
    //   flex-grow: 1;
    max-width: 70ch;
    font-size: 1.6rem;
    color: #a4a4a4;
    margin-bottom: 3rem;
  }
  .list {
    display: flex;
    font-size: 1.6rem;
    margin-bottom: 4rem;

    &__item {
      color: #a4a4aa;
      margin-right: 1.5rem;
    }
    & > :first-child {
      color: $color-text;
      font-weight: bold;
    }
  }

  &__images {
    margin-bottom: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .features__item {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s;
      &:hover {
        cursor: pointer;
        transform: translateY(-12px) scale(1.03);
      }
    }
  }
}

.services {
  text-align: center;

  &__heading {
    margin-bottom: 3rem;
  }

  &__content {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  .services-grid {
    display: grid;
    padding-top: 3rem;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  }
}

.users {
  margin: 5rem 0;
  background-color: $color-primary-dark;
  color: $color-white;
  padding: 7rem 6rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  &__heading {
    margin-bottom: 3rem;
  }
  &__description {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    width: 70ch;
  }

  &__assets {
    position: relative;
  }

  &__avatar {
    position: absolute;
  }
  &__avatar-1 {
    left: 0;
    top: 0;
  }
  &__avatar-2 {
    right: 0;
    top: 0;
  }
  &__avatar-3 {
    top: 40%;
    right: 0;
  }
  &__avatar-4 {
    right: 30%;
    bottom: 10%;
  }
  &__avatar-5 {
    left: 0;
    bottom: 0;
  }
}

.testimonial {
  &__heading {
    text-align: center;
    margin-bottom: 4rem;
  }
  &__content {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  }

  &__card {
    padding: 3rem;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  }

  .user {
    &__message {
      color: #a4a4a4;
    }

    &__name {
      font-weight: 600;
    }
  }
}
.companyes {
  margin: 10rem 0;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.footer {
  padding-top: 13.5rem;
  height: 76rem;
  background-image: url(../img/fotter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__contact-us {
    text-align: center;
    margin-bottom: 20rem;
  }
  .form {
    margin: 5rem 0;
    display: inline-block;
    padding: 1rem;
    background-color: $color-white;
    border-radius: 100px;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);

    input {
      border: 1px solid #dadada;
      border: none;
      width: 37rem;
      padding: 2rem 3.5rem;
      outline: none;
      &::placeholder {
        font-size: 1.6rem;
        color: #a4a4a4;
      }
    }
  }
  hr {
    opacity: 0.4;
  }
}
